<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= ControlCenter.title %> - <%= yield :title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <%= stylesheet_link_tag 'control_center' %>

  </head>
  <body>
    <div id="header" style="background: <%= ControlCenter.theme_color %>">
      <h1><%= ControlCenter.title %></h1>
      <ul id="header_links">
        <% ControlCenter.header_links.each do |link| %>
          <li><%= link_to link[0], link[1].call %>
        <% end %>
      </ul>
    </div>

    <ul id="primary_nav">
      <% ControlCenter.tabs.each do |tab| %>
        <li <%= 'class="active"' if current_page?(tab[1].call)%>><%= link_to_unless_current h(tab[0]), tab[1].call %></li>
      <% end %>
    </ul>

    <% if flash[:message] %>
      <div id="message"><%= flash[:message] %></div>
    <% end %>

    <% if flash[:error] %>
      <div id="error"><%= flash[:error] %></div>
    <% end %>

    <div id="content">
      <h2><%= yield :title %></h2>

      <%= yield %>
    </div>
  </body>
</html>
